@model SchoolGuide5.Models.Schools

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schools</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sc_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Fees_From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Fees_From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Fees_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Fees_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sc_phone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sc_phone3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
