@model PagedList.IPagedList<SchoolGuide5.Models.Schools>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "searchpaging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>paging</h2>


@using (Html.BeginForm("searchpaging", "Schools", FormMethod.Post))
{
    <div>
        Search by School Name / Location / Category @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input id="Submit1" type="submit" value="Search" />
    </div>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Details
        </th>
        <th>

        </th>
        <th>
            Twitter
        </th>
        <th>
            Instagram
        </th>
        <th>
            Image
        </th>
        <th>
            Category
        </th>
        <th>
            Fees From
        </th>
        <th>
            Fees To
        </th>
        <th>
            Location
        </th>
        <th>
            Phone
        </th>
        <th>
            Phone
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Fees_From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Fees_To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_phone3)
            </td>
            
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("searchpaging",
    new { page , currentFilter = ViewBag.CurrentFilter }))