@model PagedList.IPagedList<SchoolGuide5.Models.Schools>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "searchpaging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>paging</h2>


@using (Html.BeginForm("searchpaging", "Schools", FormMethod.Post))
{
    <div>
        Search by School Name / Location / Category @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input id="Submit1" type="submit" value="Search" />
    </div>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
  
        <th>
            Category
        </th>
       
        <th>
            Location
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Category)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Sc_Location)
            </td>
           
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Sc_id })|
            </td>
            
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("searchpaging",
    new { page , currentFilter = ViewBag.CurrentFilter }))